
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('public/fonts/glyphicons-halflings-regular.eot');
  src: url('public/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@font-face {
  font-family: 'Lucida Sans';
  src: url("../fonts/lucida_sans.eot");
  src: url("../fonts/lucida_sans.ttf");
}

@font-face {
  font-family: 'Lucida Sans Type';
  src: url("public/fonts/lucida_sans_typewriter.ttf");
}

body {
/* 60px to move the container down and
* make room for the navigation bar */
/*padding-top: 60px;*/
background-color: #f5f5f5;
/*font-family: 'Lucida Sans'!important;*/
}

* {
  font-family: 'Lucida Sans';
}

.cart-span {
  padding-left: 15px!important;
  padding-right: 15px!important;
}
.cart-btn {
  padding-top: 3px!important;
  padding-bottom: 3px!important;
}

h4, h5, button, p, h4 strong {
  font-family: Helvetica!important;
}

.intro-text {
  border-right: 1px solid #d8d8d8;
}

.itunes-logo {
  height: 65px;
  width: 65px;
}

.h4-special {
  font-size: 21px;
  color: #a7a7a7;
  letter-spacing: -1px;
  margin-top: -12px!important;
}

.intro-text * {
  line-height: 160%;
}

.intro-text p {
  color: #767676;
}

.btn-albums {
  margin-bottom: 20px;
  font-size: 9px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.6);
}

.insideOverlay {
  margin-top: 100px;
}

.singleTrack {
  border-bottom: 1px solid #33a6cc;
  padding-bottom: 7px;
  margin-top: 7px;
}

.main-text,
ul {
  font-size: 17px;
}

.well {
  background-color: white!important;
}

.well-intro {
  background-color: #e8e8e8!important;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

  margin-left: 0px!important;
  margin-bottom: 35px;
}

.musicfa {
  color: white;
}

.main-title {
  font-size: 29px;
  margin-bottom: 10px;
}


/***********************
  GRADIENT BUTTONS
************************/

.round {
  border-radius: 24px;
}

.btn-primary.gradient {
    background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}
.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
    background: -moz-linear-gradient(top,  #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
}
.btn-primary.gradient:active, .btn-primary.gradient.active {
    background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}
